*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 70vw;
    margin: auto;
    height: 70vh;
    display: flex;
}

.images{
    height: 100%;
}

.img{
  height: 100%;
}

.img-container{
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
}

.position-a-1{
    position: absolute;
    right: 0;
    bottom: 50px;
    margin-right: 10px;
    color: white;
}

.position-a-2 {
    position: absolute;
    right: 0;
    bottom: 30px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

.images-right {
    height: 100%;
}

.img-container-right{
    width: 100%;
    height: 20%;
}

.opacity{
    opacity: 0.5;
}

.border-white{
    opacity: 1;
    border: solid 2px red;
}

.showed{
    display: block;
}

.hidden{
    display: none;
}

img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.btn{
    background-color: white;
    border: 1px solid black;
    
    border-radius: 50%;
    position: absolute
}

.d-flex{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next{
    bottom: 20px;
    left: 50%;
    transform: translate(-16px);
}

.btn-back{
    top: 20px;
    left: 50%;
    transform: translate(-16px);
}

.container-left{
    width: 80%;
    height: 100%;
    margin: 15vh 0;
}

.container-right{
    margin: 15vh 0;
    position: relative;
    height: 100%;
    width: 20%;
}
